.list {
  display: flex;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list>div:nth-child(1) {
  width: 80%;
  background-color: rgb(60, 62, 67);
  color: aliceblue;
  padding: 0.5em;
  border: 2px solid rgb(73, 73, 80);
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.list>div:nth-child(2) {
  width: 20%;
}

.list>div:nth-child(2)>button {
  width: 100%;
  height: 100%;
  background-color: rgb(73, 73, 80);
  color: aliceblue;
  text-decoration-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  text-decoration-line: none;
  border-style: none;
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  cursor: pointer;
}